@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = null;
}


<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Umbroco Project</title>

    <link rel="stylesheet" href="@Url.Content("~/css/umbraco-starterkit-style.css")" />
</head>

<body>
    <header id="header" class="alt">
		<h1>@Model.Value("pageTitle")</h1>
	</header>
	<div>
	    <p>@Model.Value("bodyText")</p>
	</div>
    <footer>
        <h1>@Model.Value("footerText")</h1>
    </footer>
	
</footer>

</body>

</html>